.registerBox{
    background-color: rgb(0, 30, 60);
    height: 100vh;
}
.registerBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(2, 49, 95);
    border: 1px solid rgb(102, 178, 255);
    border-radius: 10px;
}
.registerInput{ 
    height: 30px;
    border: none;
    color: white;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid gray;
    font-size: 18px;
    background-color: rgb(2, 49, 95);
}
.registerInput:focus{
    outline: none;
}
.signupButton{
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(51, 153, 255);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.loginButton{
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    align-self: center;
    border: none;
    background-color: rgb(7, 185, 13);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}