.loginBox{
    background-color: rgb(0, 30, 60);
    height: 100vh;
}
.login{
    padding-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 10px #ffffff;
    font-size: 100px;
}
.loginBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(2, 49, 95);
    border: 1px solid rgb(102, 178, 255);
    border-radius: 10px;
}
.loginInput{ 
    height: 30px;
    border: none;
    color: white;
    border-bottom: 1px solid gray;
    font-size: 18px;
    background-color: rgb(2, 49, 95);
}
.loginInput:focus{
    outline: none;
}
.loginButtonn{
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(51, 153, 255);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:disabled{
    cursor: not-allowed;
}

.registerButton{
    padding: 5px;
    border-radius: 10px;
    width: 50%;
    align-self: center;
    border: none;
    background-color: rgb(7, 185, 13);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
a{
    color: white;
    text-decoration: underline;
}