.profileRightbarBox{
    flex: 4;
    color: white;
}
.profileRightbarWrapper{
    padding: 20px 20px 0 0;
}
.friendsHeading{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.profileRightbarInfo{
    margin: 10px 0px;
    padding: 10px 0px 10px 10px;
    background-color: rgb(0, 30, 60);
    border: 1px solid rgb(102, 178, 255);
    border-radius: 10px;
}
.profileRightbarInfoItem{
    margin-bottom: 10px;
    color: rgb(178, 186, 194);   
}
.profileRightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
}
.profileRightbarInfoValue{
    font-weight: 300;
}
.profileRightbarFollowings{
    padding: 20px 0px 0px 20px;
    background-color: rgb(0, 30, 60);
    border: 1px solid rgb(102, 178, 255);
    border-radius: 10px;
}
.profileRightbarFollowing{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
    cursor: pointer;
    color: rgb(178, 186, 194);

}
.profileRightbarFollowingImage{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}
a{
    text-decoration: none;
}